<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Get Results</title>
<link href="../static/css/style.css" rel="stylesheet" media="screen" th:href="@{/css/style.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Metrics</h2>
	<table style="width:20%">
		<tr>
			<td><p><strong>Perform a get on key:</strong></p></td>
			<td><p th:text="${key}"></p></td>
		</tr>
		<tr>
			<td><strong>Time for get:</strong></td>
			<td><p th:text="${time}"></p></td>
		</tr>
	</table>
	<br/>
	<h2>Value</h2>
	<table style="width:100%">
	 <tr>
    		<th>Available Flight Id</th>
    		<th>Origin</th>		
   		<th>Destination</th>
   		<th>Departure Date</th>
   		<th>Departure Time</th>
   		<th>Arrival Date</th>
   		<th>Arrival Time</th>
   		<th>Travel Time</th>
   		<th>Carrier</th>
   		<th>No Of Legs</th>
   		<th>City Seq</th>
   		<th>One WayF are</th>
   		<th>Return Fare</th>
   		<th>Fare Class</th>
   		<th>Fare Preference</th>
   		<th>Legs</th>
  	</tr>
		<tr th:each="result : ${values}">
			<td th:text="${result.AvailableFlightId}"></td>
			<td th:text="${result.Origin}"></td>
			<td th:text="${result.Destination}"></td>
			<td th:text="${result.DepartureDate}"></td>
			<td th:text="${result.DepartureTime}"></td>
			<td th:text="${result.ArrivalDate}"></td>
			<td th:text="${result.ArrivalTime}"></td>
			<td th:text="${result.TravelTime}"></td>
			<td th:text="${result.Carrier}"></td>
			<td th:text="${result.NoOfLegs}"></td>
			<td th:text="${result.CitySeq}"></td>
			<td th:text="${result.OneWayFare}"></td>
			<td th:text="${result.ReturnFare}"></td>
			<td th:text="${result.FareClass}"></td>
			<td th:text="${result.FarePreference}"></td>
			<td>Omitted - too long</td>
		</tr>
	</table>

</body>
</html>